* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container,
.nav-items,
.hero-items {
    margin: 0 80px;
}

.txt-100 {
    color: #1B1B1B;
}

.txt-75 {
    color: #363636;
}

.txt-50 {
    color: #414141;
}

h1,
h2 {
    font-family: 'Clash Display', sans-serif;
    font-weight: 600;
}

h3,
h4,
p,
nav,
button {
    font-family: 'Satoshi', sans-serif;
}

h1 {
    font-size: 64px;
}

h2 {
    font-size: 48px;
}

h3 {
    font-size: 32px;
}

h4 {
    font-size: 30px;
}

h3,
h4 {
    font-weight: 700;
}

p,
footer {
    font-size: 20px;
}

nav,
button {
    font-size: 24px;
}

nav,
footer,
p {
    font-weight: 500;
}

button {
    font-weight: 700;
}


.nav,
.hero {
    background-color: #FFECE5;
}

/* nav section */
.nav {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-items {
    width: 1280px;
    display: flex;
    justify-content: space-between;
}

.navigation a {
    text-decoration: none;
    color: #1B1B1B;
    transition: color 0.3s ease;
}

.navigation a:hover {
    color: #949494;
}

#home {
    margin-left: auto;
}

.nav-link {
    margin-left: 52px;
}


/* hero section */
.hero {
    display: flex;
    justify-content: center;
    height: 680px;
}

.hero-items{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1280px;
}

.headline{
    display: flex;
    flex-direction: column;
    height: 386px;
    width: 560px;
    justify-content: space-between;
}

.hl-text{
    height: 256px;
}

#hl-paragraph{
    margin-top: 16px;
}

.hl-buttons{
    display: flex;
    justify-content: flex-start;
    gap: 48px;

}

.btn{
    padding: 12px 20px;
    border: 2px solid #1B1B1B;
    border-radius: 40px;
    box-shadow: -2px 3px 0px 0px #1B1B1B;
    text-align: center;
    cursor: pointer;
}


.pri{
    background-color: #70D8FF;
}

.sec button{
    background-color: #FFF;
}

.hero-items img{
    width: 600px;
}