* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* .container,
.nav-items,
.hero-items {
    margin: 0 80px;
} */

.txt-100 {
    color: #1B1B1B;
}

.txt-75 {
    color: #363636;
}

.txt-50 {
    color: #414141;
}

h1,
h2,
#name {
    font-family: 'Clash Display', sans-serif;
    font-weight: 600;
}

h3,
h4,
p,
nav,
button {
    font-family: 'Satoshi', sans-serif;
}

h1 {
    font-size: 64px;
}

h2 {
    font-size: 48px;
}

h3 {
    font-size: 32px;
}

h4 {
    font-size: 30px;
}

h3,
h4 {
    font-weight: 700;
}

p,
footer {
    font-size: 20px;
}

nav,
button {
    font-size: 24px;
}

nav,
footer,
p {
    font-weight: 500;
}

button {
    font-weight: 700;
}


.nav,
.hero {
    background-color: #FFECE5;
}

/* nav section */
.nav {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-items {
    width: 1280px;
    display: flex;
    justify-content: space-between;
}

.navigation a {
    text-decoration: none;
    color: #1B1B1B;
    transition: color 0.3s ease;
}

.navigation a:hover {
    color: #949494;
}

#home {
    margin-left: auto;
}

.nav-link {
    margin-left: 52px;
}


/* hero section */
.hero {
    display: flex;
    justify-content: center;
    height: 680px;
}

.hero-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1280px;
}

.headline {
    display: flex;
    flex-direction: column;
    height: 386px;
    width: 560px;
    justify-content: space-between;
}

.hl-text {
    height: 256px;
}

#hl-paragraph {
    margin-top: 16px;
}

.hl-buttons {
    display: flex;
    justify-content: flex-start;
    gap: 48px;

}

.btn {
    padding: 12px 20px;
    border: 2px solid #1B1B1B;
    border-radius: 40px;
    text-align: center;
    cursor: pointer;

    /* animation */
    transition-property: all;
    transition-duration: 0.15s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    /* shadow variables */
    --shadow-color: #1B1B1B;
    --shadow-offset-x: -4px;
    --shadow-offset-y: 4px;
    --shadow-blur: 0;
    --shadow-spread: 0;

    box-shadow: var(--shadow-offset-x) var(--shadow-offset-y) var(--shadow-blur) var(--shadow-spread);

}

.btn:hover {
    --shadow-offset-x: 0;
    --shadow-offset-y: 0;
    --shadow-blur: 0px;
    --shadow-spread: 0px;
    transform: translate(-4px, 4px);
}


.pri {
    background-color: #70D8FF;
}

.sec button {
    background-color: #FFF;
}

.hero-items img {
    width: 600px;
}


/* about section*/
.about {
    display: flex;
    flex-direction: column;
    gap: 72px;
    align-items: center;
    height: 542px;
    background-color: #E4FF97;
}

.about-header {
    margin-top: 80px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 4px;
}

.about-values {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.value-card {
    display: flex;
    gap: 4px;
    width: 305px;
    height: 204px;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-between; */
    text-align: center;
}

.values-para {
    font-size: 18px;
}

.ph-duotone {
    font-size: 48px;
}

.v-text {
    display: flex;
    gap: 4px;
    flex-direction: column;
    padding: 20px 0 40px 0;
    height: 93;
}

/* testimonial-section */

.testimonial {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 466px;
    background: #CFCEFF;
    /* padding: 246px 120px; */
}

.test-item {
    width: 948px;
}

#testimonial-txt {
    font-size: 40px;
    font-style: italic;
    font-weight: 500;
    line-height: normal;
}

#name {
    font-family: 'Clash Display', sans-serif;
    font-weight: 600;
    font-size: 36px;
    text-align: right;
}